:root {
    --sans: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, Helvetica, "Helvetica Neue", Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    --serif: "New York", Charter, Georgia, Cambria, "Times New Roman", Times, serif;
    --mono: San Francisco Mono, Monaco, "Consolas", "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    --turquoise: rgb(67, 170, 144);
    --orange: rgb(241, 141, 0);
    --lime: rgb(157, 200, 21);
    --beige: rgb(255, 249, 226);
    --gray: rgb(114, 113, 114);
    --dark-gray: rgb(95, 94, 95);
    --primary: var(--turquoise);
    --secondary: var(--orange);
    --tertiary: var(--lime);
    --background-color: var(--beige);
    --text-color: var(--gray);
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
}
body {
    font-family: var(--serif);
    margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--sans);
    margin-bottom: 10px;
    margin-top: 20px;
}
h1 {
    color: white;
}
h2, h2 a {
    color: var(--turquoise);
}
h2:first-child, h3:first-child {
    margin-top: 0px;
}
h3 {
    color: var(--lime);
    margin-top: 20px;
}
a {
    color: var(--tertiary);
}
p, ul {
    color: var(--text-color);
    line-height: 1.25;
    font-size: 20px;
}
p:not(:last-child) {
    margin-bottom: 10px;
}
ul {
    color: var(--text-color);
    margin-bottom: 10px;
}
strong {
    color: var(--dark-gray);
}
nav {
    position: relative;
    transition: box-shadow 0.3s;
    text-align: center;
    padding: 10px;
}
nav img {
    width: 400px;
    max-width: 100%;
}
nav ul {
    vertical-align: top;
    list-style-type: none;
    text-align: center;
    padding-left: 0px;
    margin-top: 10px;
}
nav li {
    position: relative;
    margin-left: 20px;
    display: inline-block;
    transition: border-bottom 0.3s;
}
nav li ul {
    position: absolute;
    z-index: 11;
    text-align: center;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    margin: 0px;
    padding: 5px 4px;
    border-radius: 3px;
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
}
nav li:hover ul {
    pointer-events: auto;
    opacity: 1;
    box-shadow: 0px 6px 6px 0px rgba(12, 12, 12, 0.3);
}
nav li ul li {
    display: inline-block;
    margin: 10px 3px;
}
nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
}
nav .active {
    color: var(--tertiary);
}
main {
    width: 100%;
    padding: 40px 30px;
    max-width: 100ch;
    margin: 0px auto;
}
footer {
    background-color: var(--primary);
    width: 100%;
    text-align: center;
    padding: 5px;
    color: white;
    font-family: var(--sans);
}
iframe {
    max-width: 100%;
    min-width: 100%;
}
blockquote {
    position: relative;
    font-style: italic;
    margin-bottom: 10px;
}
blockquote:not(.emphasized) {
    padding-left: 20px;
}
blockquote:not(.emphasized)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: var(--primary);
}
blockquote.emphasized {
    margin-left: 50px;
    color: var(--tertiary);
    font-weight: bold;
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}
blockquote.emphasized cite {
    display: block;
}
blockquote.emphasized p::before {
    content: "\201C";
    font-family: Georgia, serif;
    display: inline-block;
    position: relative;
    height: 20px;
    font-size: 80px;
    left: -20px;
    top: 30px;
    color: var(--primary);
}
blockquote.emphasized p {
    color: inherit;
}
.inline-main-img {
    /* Subtract half of right margin */
    width: calc(50% - 20px);
    float: left;
    margin-right: 40px;
    margin-top: 10px;
    display: block;
}
.inline-main-img.right {
    float: right;
    margin-left: 40px;
    margin-right: 0px;
}
.inline-img {
    display: inline-block;
    margin-top: 10px;
    width: calc(25% - 20px);
    min-width: 150px;
}
.inline-img.right {
    float: right;
    margin-left: 40px;
}
.inline-img.left {
    float: left;
    margin-right: 40px;
}
#banner {
    /* All widths and heights are based on viewport width, even if they're in % form */
    /* The banner must be inside a box that is 100vw */
    position: relative;
    width: 100%;
    --banner-height: 31.25vw;
    height: var(--banner-height);
    /* Box width is the box + its before width */
    --box-width: 20vw;
    background-color: var(--turquoise);
    --color-box-width: 20vw;
}
#banner > .img {
    display: block;
    position: relative;
    margin-left: auto;
    width: calc(calc(100% - var(--box-width)) + calc(var(--color-box-width) / 2));
    /* Overrides height in slider JS */
    height: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    padding: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}
#banner .img-list {
    display: flex;
    /* Overrides height in slider JS */
    height: 100% !important;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
}
#banner .img-list > li {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
#banner h1 {
    position: absolute;
    top: 50%;
    left: 5vw;
    transform: translateY(-50%);
    width: 250px;
    z-index: 10;
    font-size: 42px;
}
#color-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
#color-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--color-box-width);
    border-color: transparent;
    border-style: solid;
    /* These values are based on the width and height of the banner */
    border-width: calc(var(--banner-height) / 2) calc(var(--color-box-width) / 2);
    border-top-color: var(--orange);
    border-left-color: var(--turquoise);
    border-bottom-color: var(--lime);
}
#banner.title {
    --box-width: 45%;
}
#banner.title #color-box::after {
    right: calc(100% - var(--box-width));
    left: unset;
}
#banner.title #color-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--turquoise);
    width: calc(var(--box-width) - var(--color-box-width));
    height: 100%;
}
@media only screen and (max-width: 900px) {
    #banner.title {
        --box-width: var(--color-box-width);
    }
    #banner.title #color-box::after {
        right: unset;
        left: 0;
    }
    #banner.title #color-box::before {
        display: none;
    }
    #banner h1 {
        top: unset;
        bottom: 10%;
        margin: 0px;
        transform: unset;
        left: 15vw;
        width: 65%;
        z-index: 10;
    }
}
@media only screen and (max-width: 600px) {
    #banner {
        --banner-height: 50vw;
        --color-box-width: 30vw;
    }
    #banner h1 {
        font-size: 26px;
    }
    nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        gap: 10px;
        padding: 10px 20px;
    }
    nav img {
        width: 250px;
    }
    nav > ul {
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 20px;
        max-height: 0px;
        transition: max-height 250ms ease-out, padding 250ms ease-out;
        pointer-events: none;
        z-index: 20;
        overflow: hidden;
        background-color: white;
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        margin-top: 0px;
    }
    nav > ul > li {
        font-size: 18px;
    }
    nav ul li ul li {
        font-size: 14px;
        margin-bottom: 3px;
        margin-top: 0px;
    }
    nav li ul {
        position: static;
        opacity: 1;
        transition: none;
        pointer-events: all;
        border-radius: 0px;
    }
    nav li:hover ul {
        box-shadow: none;
    }
    .nav-dropdown-button {
        height: auto;
        line-height: 12px;
        width: 30px;
        margin-bottom: 5px;
    }
    .nav-dropdown-button > span {
        display: inline-block;
        height: 2.25px;
        width: 100%;
        background-color: var(--text-color);
    }
    nav.open > ul {
        max-height: 700px;
        pointer-events: all;
        padding: 20px;
        box-shadow: 0px 10px 8px 2px rgb(0 0 0 / 15%);
    }
}
