:root {
    --sans: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, Helvetica, "Helvetica Neue", Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    --serif: "New York", Charter, Georgia, Cambria, "Times New Roman", Times, serif;
    --mono: San Francisco Mono, Monaco, "Consolas", "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    --turquoise: rgb(67, 170, 144);
    --orange: rgb(241, 141, 0);
    --lime: rgb(157, 200, 21);
    --beige: rgb(255, 249, 226);
    --gray: rgb(114, 113, 114);
    --primary: var(--turquoise);
    --secondary: var(--orange);
    --tertiary: var(--lime);
    --background-color: var(--beige);
    --text-color: var(--gray);
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
}
body {
    font-family: var(--serif);
    margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--sans);
}
h1 {
    color: white;
}
h2 {
    color: var(--turquoise);
}
h3 {
    color: var(--lime);
}
a {
    color: var(--tertiary);
}
p {
    color: var(--text-color);
}
nav {
    transition: box-shadow 0.3s;
    text-align: center;
}
nav img {
    width: 400px;
}
nav ul {
    vertical-align: top;
    list-style-type: none;
    text-align: center;
}
nav li {
    position: relative;
    margin-left: 20px;
    display: inline-block;
    transition: border-bottom 0.3s;
}
nav li ul {
    position: absolute;
    z-index: 5;
    text-align: center;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    margin: 0px;
    padding: 5px 4px;
    border-radius: 3px;
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
}
nav li:hover ul {
    pointer-events: auto;
    opacity: 1;
    box-shadow: 0px 6px 6px 0px rgba(12, 12, 12, 0.3);
}
nav li ul li {
    display: inline-block;
    margin: 0px 3px;
}
iframe {
    max-width: 100%;
    min-width: 100%;
}
blockquote {
    font-style: italic;
}
#banner {
    /* All widths and heights are based on viewport width, even if they're in % form */
    /* The banner must be inside a box that is 100vw */
    position: relative;
    width: 100%;
    --banner-height: 37.5vw;
    height: var(--banner-height);
    /* Box width is the box + its before width */
    --box-width: 20vw;
    background-color: var(--turquoise);
    --color-box-width: 20vw;
}
#banner > div.img {
    display: block;
    margin-left: auto;
    width: calc(calc(100% - var(--box-width)) + calc(var(--color-box-width) / 2));
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
}
#banner h1 {
    position: absolute;
    top: 50%;
    left: 5vw;
    transform: translateY(-50%);
    width: 250px;
    z-index: 10;
}
#color-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#color-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--color-box-width);
    border-color: transparent;
    border-style: solid;
    /* These values are based on the width and height of the banner */
    border-width: calc(var(--banner-height) / 2) calc(var(--color-box-width) / 2);
    border-top-color: var(--orange);
    border-left-color: var(--turquoise);
    border-bottom-color: var(--lime);
}
#banner.title {
    --box-width: 45%;
}
#banner.title #color-box::after {
    right: calc(100% - var(--box-width));
    left: unset;
}
#banner.title #color-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--turquoise);
    width: calc(var(--box-width) - var(--color-box-width));
    height: 100%;
}
@media only screen and (max-width: 900px) {
    #banner.title {
        --box-width: var(--color-box-width);
    }
    #banner.title #color-box::after {
        right: unset;
        left: 0;
    }
    #banner.title #color-box::before {
        display: none;
    }
    #banner h1 {
        top: unset;
        bottom: 10%;
        margin: 0px;
        transform: unset;
        left: 15vw;
        width: 85%;
        z-index: 10;
    }
}
@media only screen and (max-width: 600px) {
    #banner {
        --banner-height: 50vw;
        --color-box-width: 30vw;
    }
}
