<nav>
    <a href="/" id="logo"><img src="/assets/images/logo.png"></a>
    <ul>
        <li><a href="/exploring-diplomacy">Exploring Diplomacy</a></li>
        <li>
            <a href="/community-service" id="community-service">Community Service</a>
            <ul>
                <li><a href="/community-service/community-service-weeks">Community Service Weeks</a></li>
                <li><a href="/community-service/household-goods-and-furniture-drive">Household Goods & Furniture Drive</a></li>
                <li><a href="/community-service/walk-and-talk-against-racism">International Walk & Talk Against Racism</a></li>
                <li><a href="/community-service/refugee-resettlement">Refugee Resettlement</a></li>
            </ul>
        </li>
        <li><a href="/community-service/refugee-resettlement">Refugee Resettlement</a></li>
        <li>
            <a href="/student-service-learning">Student Service Learning</a>
            <ul>
                <li><a href="/student-service-learning/youth-facing-racism">Youth Facing Racism</a></li>
                <li><a href="/student-service-learning/youth-facing-the-global-refugee-and-migration-crisis">Youth
                        Facing the Global Refugee and Migration Crisis</a></li>
                <li><a href="/student-service-learning/youth-facing-the-global-freshwater-crisis">Youth Facing the
                        Global Freshwater Crisis</a></li>
            </ul>
        </li>
        <li><a href="/partners">Partners</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <div class="nav-dropdown-button">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
